/* :noTabs=false:mode=css:tabSize=2:indentSize=2:folding=none: */
body { margin: 0; padding: 2px 0; }
body, html { overflow: hidden; }
body, input, h3 { 
	/*font: normal 11px/13px 'segoe ui';*/
	font: normal 10px/13px 'Source Sans Pro', sans-serif;
}
div[role=listitem] {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}
div[role=listitem] h3 {
	margin: 2px;
	line-height: 20px;
	padding-left: 20px;
}
div.show-more[role=listitem] > a > h3 {
	color: #9999ff;
	font-style: italic;
}
div[role=listitem]:hover,
div.selected[role=listitem] {
	outline: auto 1px hsl(214, 91%, 65%);
	outline-offset: 5px;
	background-color: hsl(214, 91%, 87%);
	background-image: -webkit-linear-gradient(
		 hsla(0, 100%, 100%, 0.8), 
		 hsla(0, 100%, 100%, 0)
	);
}
div[role=listitem] > a {
	color: #000;
	text-decoration: none;
}
div[role=listitem] > a > p {
	display: none;
}
list > div > a > h3 { 
	width: 700px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
}
#controls {
	width: 100%;
}
#controls input {
	width: 80%;
	border: none;
	padding: 2px;
}
#controls input:focus {
	outline: none;
}
.slide {
	width: 760px; 
}
#other-slide list {
	display: block; 
}
#other-slide list > h3 {
	white-space: nowrap;
}
.slide {
	display: none;
}
.slide.visible {
	display: block;
}
li { list-style-type: none; }
